 body{
    background-color:rgb(7, 36, 7)
 }
 
 .rich{
    background-color: antiquewhite;
    width:90%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    border: 5px solid green;
    padding: 25px;
    scroll-snap-type: ;
    

 }
















 @media screen and {
    
 }