 body{
    background-color:rgb(7, 36, 7)
 }
 
 .rich{
    background-color: antiquewhite;
    width:100%px;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    border: 5px solid green;
    padding: 25px;
    scroll-snap-type: ;
    

 }


.picture{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.box-pic  img{
   width:800px;
   height:600Px;
   margin-top:1px;
   border-radius:20px;
}
#box-3 img {
    height: 1500px;
    border-radius: 20px;
}
.text{
    color: brown;
    border: 3px solid red;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;

}

.bani{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.video-bani{
    width:90%;
    margin-top: 30px;
}










 @media screen  and (max-width:576px) {
    body{
        width:338px;  
    }
    .rich{
        background-color: antiquewhite;
        width: 300px;
        height: 100%;
    }

 .box-pic{
    width: 315px;
    height: 100%;
}
    .box-pic img{
        width:313px;
        height:272px;   
    }
    #box-3 img {
        height:400px;
    }
    .bani{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 1px;
    }
    .bani-mubarak{

    }
        
    .video-bani{
        width:290px;
    }
    
 }